body {
    font-family: 'Cairo';
    font-size: 22px;
}

.titlePrimary {
    font-size: 50px;
}

.navbar {
    position:fixed;
    top:0;
    overflow: hidden;
    width: 100%;
    z-index: 10;
}

.navbarPadding {
    padding: 0px;
}

.navbar-default .navbar-brand {
    color: #f76161;
}

.navbar-default .navbar-nav>li>a {
    color: #f76161;
}

.navbar-brand {
    position: relative;
    z-index: 2;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}

.navbar .navbar-collapse {
    position: relative;
    overflow: hidden !important;
}

.navbar .navbar-collapse .navbar-right>li:last-child {
    padding-left: 22px;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse>li {
    float: right;
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: transparent;
}

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(242, 82, 82);
    border-color: rgb(168, 168, 168);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px, -50px);
}

.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px, 0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right>li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }

    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%, 0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px, 0px);
    }

    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px, -100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px, 0px);
    }
}




/*arriba-- navbar*/


/*abajo carrusel*/

#carousel-example-generic {
    margin-top: 100px;
    width: 100%;
}

.carousel-inner {
    margin: auto;
    width: 75%;
}

.imgHome {
    border: 10px solid #F8F8F8;
    border-radius: 10px;
}

.item img {
    display: inline!important;
}



/*abajo thumbnails*/

.thumbnails {
    padding: 0;
    margin-top: 95px;
}

ul li {
    list-style: none;
}

.caption {
    height: 500px;
}

.caption h3 {
    color: #F76161;
}


/*abajo alimentacion*/

.alimentoGato {
    margin: auto;
    border: 4px solid #cccccc;
    border-radius: 10px;
}

.alimentacion {
    background-color: #F8F8F8;
    margin: 65px 0px 0px 0px;
    padding: 10px;
}

.alimentacion h1 {
    color: #F76161
}

.spanAlim {
    color: #F76161;
    text-decoration: underline;
}


/*abajo enfermedades css*/

.spanEnf {
    font-size: 20px;
    color: #F76161;    
}

.enfermedades h1, h2 {
    color: #F76161;
}

.enfermedades {
    background-color: #D2E9D5;
    margin: 65px 0px 0px 0px;
    padding: 10px;
}

.enfermedadesIMG {
    margin: auto;
    border: 4px solid #F8F8F8;
    border-radius: 10px;
}

.enfermedadesList {
    background-color: #F8F8F8;
    padding: 15px;
}

.enfermUL {
    padding: 0px;
}

.panel-default>.panel-heading {
    text-align: center;
}

/*abajo iframe*/

.iframeDiv {
    margin: 15px;
    background-color: #3d3d3d;
   
}

.iframe {
    margin: 15px;
}

.divVideo {
    border: 2px solid #F76E6E;
    border-radius: 7px;
}

.ancla {
    text-align: center;
    color: #F76161;
     margin-top: 80px;
}

